* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo {
  height: 5.25rem;
}

.login {
  display: flex;
}
.login.active {
  visibility: hidden;
}
.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus {
  outline: none;
  color: #777;
}

.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  opacity: 0;
  transition: ease-in 0.5s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  border-radius: 50%;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
}

.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}

.form__label--loan {
  grid-row: 2;
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}
.logout_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.logout_btn {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  border-radius: 0.7rem;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: ease-in 0.4s;
}
.logout_btn:hover {
  color: white;
  background-image: linear-gradient(to bottom left, rgb(95, 95, 95), black);
}
.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;

  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}

.sorted {
  color: rgb(247, 53, 53);
  background-color: rgb(255, 255, 255);
}

.text-loading{
font-family: "Poppins", sans-serif;
     font-size: 1.9rem;
  font-weight: 500;
}

:root {
  --fg: #17181c;
  --shade1: #727274;
  --shade2: #cccdd1;
  --shade3: #f3f4f8;
  --shade4: #ffffff;
  --dur1: 1s;
  --dur2: 6s;
}
.main_preloader {
  display: none;
  font-size: 1.5rem;
}
.main_preloader.active {
  display: block;
}
.preloader {
  animation: largePopOut var(--dur1) linear;
  border-radius: 50%;
  box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
    -0.15em -0.15em 0.15em var(--shade1) inset, 1em 1em 2em var(--shade1),
    -1em -1em 2em var(--shade4);

  position: relative;
  width: 12em;
  height: 12em;
  margin: auto;
  margin-top: 8em;
  margin-bottom: 3em;
}
.preloader__square {
  animation: smallPopOut1 var(--dur1) linear,
    popInOut var(--dur2) var(--dur1) linear infinite;
  border-radius: 0.5em;
  box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
    -0.15em -0.15em 0.15em var(--shade1) inset,
    0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
  position: absolute;
  top: 2.5em;
  left: 2.5em;
  width: 3em;
  height: 3em;
}
.preloader__square:nth-child(n + 2):nth-child(-n + 3) {
  left: 6.5em;
}
.preloader__square:nth-child(n + 3) {
  top: 6.5em;
}
.preloader__square:nth-child(2) {
  animation: smallPopOut2 var(--dur1) linear,
    move2 var(--dur2) var(--dur1) linear infinite;
}
.preloader__square:nth-child(3) {
  animation: smallPopOut3 var(--dur1) linear,
    move3 var(--dur2) var(--dur1) linear infinite;
}
.preloader__square:nth-child(4) {
  animation: smallPopOut4 var(--dur1) linear,
    move4 var(--dur2) var(--dur1) linear infinite;
}
.status {
  animation: fadeIn var(--dur1) linear forwards;
  text-align: center;
}
.status__dot {
  animation: appear1 var(--dur1) var(--dur1) steps(1, start) infinite;
  display: inline-block;
}
.status__dot:nth-child(2) {
  animation: appear2 var(--dur1) var(--dur1) steps(1, start) infinite;
}
.status__dot:nth-child(3) {
  animation: appear3 var(--dur1) var(--dur1) steps(1, start) infinite;
}

/* Animations */
@keyframes largePopOut {
  from,
  20% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  40% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset, 2em 2em 2em var(--shade1),
      -2em -2em 4em var(--shade4);
  }
  60%,
  to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset, 1em 1em 2em var(--shade1),
      -1em -1em 2em var(--shade4);
  }
}
@keyframes smallPopOut1 {
  from,
  40% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  60% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
  }
  80%,
  to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
  }
}

@keyframes smallPopOut2 {
  from,
  45% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  65% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
  }
  85%,
  to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
  }
}

@keyframes smallPopOut3 {
  from,
  50% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  70% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
  }
  90%,
  to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
  }
}

@keyframes smallPopOut4 {
  from,
  55% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  75% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
  }
  95%,
  to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
  }
}
@keyframes popInOut {
  from {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(0, 0);
  }
  4% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(0, 0);
  }
  8% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(0, 0);
  }
  12%,
  16% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(4em, 0);
  }
  20% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(4em, 0);
  }
  24%,
  25% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(4em, 0);
  }
  29% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(4em, 0);
  }
  33% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(4em, 0);
  }
  37%,
  41% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(4em, 4em);
  }
  45% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(4em, 4em);
  }
  49%,
  50% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(4em, 4em);
  }
  54% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(4em, 4em);
  }
  58% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(4em, 4em);
  }
  62%,
  66% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(0, 4em);
  }
  70% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(0, 4em);
  }
  74%,
  75% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(0, 4em);
  }
  79% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(0, 4em);
  }
  83% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(0, 4em);
  }
  87%,
  91% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(0, 0);
  }
  95% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(0, 0);
  }
  99%,
  to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(0, 0);
  }
}
@keyframes move2 {
  from,
  8% {
    transform: translate(0, 0);
    width: 3em;
    height: 3em;
  }
  12% {
    transform: translate(-4em, 0);
    width: 7em;
    height: 3em;
  }
  16%,
  83% {
    transform: translate(-4em, 0);
    width: 3em;
    height: 3em;
  }
  87% {
    transform: translate(-4em, 0);
    width: 3em;
    height: 7em;
  }
  91%,
  to {
    transform: translate(-4em, 4em);
    width: 3em;
    height: 3em;
  }
}
@keyframes move3 {
  from,
  33% {
    transform: translate(0, 0);
    height: 3em;
  }
  37% {
    transform: translate(0, -4em);
    height: 7em;
  }
  41%,
  to {
    transform: translate(0, -4em);
    height: 3em;
  }
}
@keyframes move4 {
  from,
  58% {
    transform: translate(0, 0);
    width: 3em;
  }
  62% {
    transform: translate(0, 0);
    width: 7em;
  }
  66%,
  to {
    transform: translate(4em, 0);
    width: 3em;
  }
}
@keyframes fadeIn {
  from,
  67% {
    opacity: 0;
  }
  83.3%,
  to {
    opacity: 1;
  }
}
@keyframes appear1 {
  from {
    visibility: hidden;
  }
  33%,
  to {
    visibility: visible;
  }
}
@keyframes appear2 {
  from,
  33% {
    visibility: hidden;
  }
  67%,
  to {
    visibility: visible;
  }
}
@keyframes appear3 {
  from,
  67% {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --fg: #e3e4e8;
    --shade1: #23252a;
    --shade2: #3e424c;
    --shade3: #4a4e5a;
    --shade4: #686e7e;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.3s;
  cursor: pointer;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}
.modal__form li {
  font-size: 1.7rem;
  font-weight: 500;
}
.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.btn--show-modal {
  cursor: pointer;
}

.modal__footer {
  text-align: center;
  padding-top: 3rem;
  color: rgb(168, 4, 4);
}
